/******************************************************************
    		deault classes for the main menu    
******************************************************************/

.menuHeader
{
	background-color:	#E2F8FF;
	font-family: arial;
	font-size: 13;
	padding-left: 15px;
	padding-right: 15px;
	border-left-width: 1px;
	border-left-color: #386396;
	border-left-style: solid;
}

.menuHeader_ltr
{
	background-color:	#E2F8FF;
	font-family: arial;
	font-size: 13;
	padding-left: 15px;
	padding-right: 15px;
	border-right-width: 1px;
	border-right-color: #386396;
	border-right-style: solid;
}

.menuHeaderOver
{
	background-color: #F6F3EC;
	font-family: arial;
	font-size: 13;
	padding-left: 15px;
	padding-right: 15px;
	border-left-width: 1px;
	border-left-color: #386396;
	border-left-style: solid;
}

.menuHeaderOver_ltr
{
	background-color: #F6F3EC;
	font-family: arial;
	font-size: 13;
	padding-left: 15px;
	padding-right: 15px;
	border-right-width: 1px;
	border-right-color: #386396;
	border-right-style: solid;
}

.menuDiv
{
	border-top-color:#A9A9A9;
	border-top-style:solid;
	border-top-width:1px;
	border-left-color:#A9A9A9;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#929292;
	border-right-style:solid;
	border-right-width:2px;
	border-bottom-color:#929292;
	border-bottom-style:solid;
	border-bottom-width:2px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom:1px;
	background-color: #F6F3EC;
	cursor: hand;
}

.menuItemsTable
{
		
}

.menuItemTr
{
	font-family: arial;
	font-size: 13;
}

.menuItemTrOver
{
	background-color: #010066;
	color:white;
	font-family: arial;
	font-size: 13;
}

.menuItemTd
{

}

.menuItemArrowTd
{

}

.menuSeperatorHeader
{
	border-left-width: 1px;
	border-left-color: #386396;
	border-left-style: solid;
	width: 1px;
}

/******************************************************************
    		deault classes for the help screens    
******************************************************************/
.helpContentDiv
{
	overflow: auto;  
	height:400;
	width:100%;
}

.helpLink
{
	font-size: 12;
	font-family: arial;
	font-weight: bold;
	color: #0000FF;
	cursor: pointer;
	text-decoration: underline;
}

.helpTitle
{
	color:#000080;
	font-weight:bold;
	font-family:arial;
	font-size:13;
	height: 22px;
}

/**** x class is tmp and will be deleted  after marker class will fully take over  ******/
.x
{
	color: #CC0000;
}

.marker
{
	color: #CC0000;
	font-size: 10px;
	
}

/******************************************************************
    		deault classes for all calendars popups    
******************************************************************/

/***  buttons for the days calendar  ***/

input.dayButton
{
	width: 32px;
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #000000;
    border : 1px solid outset;
    background: #CDE2F0;        
}
input.todayButton
{
	width: 32px;
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #000000;
    border :2px;
    border-style:solid;
	border-color :red;
    background: #CDE2F0;        
}

input.dayCurrentButton
{
	width: 32px;
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #000000;
    border : 1px solid outset;
    background: #FFFFFF;        
}

input.daySatButton
{
	width: 32px;
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: white;
    border : 1px solid outset;
    background: #999999;        
}

input.dayDisabledButton
{
	width: 32px;
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: white;
    border : 1px solid outset;
    background: #cccccc;        
}

input.todayCurrentButton
{
	width : 32px;
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #000000;
    border-width : 1px;
    border-style : outset;
    background-color: #FFFFFF;        
	border :2px;
    border-style:solid;
	border-color :red;
}

/***  buttons for the months calendar  ***/

input.monthButton
{
	width : 60px;
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #000000;
    border-width : 1px;
    border-style : outset;
    background-color: #CDE2F0;        
}

input.todayMonthButton
{
	width : 60px;
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #000000;
    border-width : 1px;
    border-style : outset;
    background-color: #CDE2F0;
    border :2px;
    border-style:solid;
	border-color :red;     
}

input.todaySelectedMonthButton
{
	width : 60px;
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #000000;
    border-width : 1px;
    border-style : outset;
    background-color: #FFFFFF;
    border :2px;
    border-style:solid;
	border-color :red;

}

input.selectedMonthButton
{
	width : 60px;
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #000000;
	background-color: #FFFFFF;
	border-style: outset;
	border-width: 1px;
}

.hc
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 14px;
    font-weight: bold;
    color: white;
    background-color:#50AFC3;
    text-align: center;    
}

/*** class for month & date combo box ***/
.s1
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 12px;
    font-weight: bold;
    background: #FFFFFF;        
}

input.cNavigation
{
	background-color: #336699;
	width: 32px;
    font-family: webdings;
    font-size: 12px;
    font-weight: normal;
   	border : 1px solid outset;
    color: #FFFFFF;
    height: 20px;
}

input.cNavigation2
{
	background-color: #336699;
	width: 100%;
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #FFFFFF;
 	border-width:1px;
}

.calendarBg
{
	background-color: #FEF9EC;
}


/*     class for download - do not change!!!!      */
.download
{
	behavior:url(#default#download)
}




/*******************************************
		        general classes  
*******************************************/


/*  default class for the body tag on each page  */
.body
{
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	overflow-y:auto;
	overflow-x:none;	
}

/***      classes   for the mainScreen.jsp          ***/

.mainScreenSpace
{
	padding-right: 8px;
	padding-left: 8px;
}

.mainHeaderHeight
{
	height: 44px;
}

/***      classes   for the mainHeader.jsp          ***/
.mainHeaderCaption
{
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.mainMessage
{
	height: 1px;
	padding-right: 8px;
	padding-left: 8px;
}

.mainFooter
{
	height: 30px;
	padding-right: 8px;
	padding-left: 8px;
}

/*   main title for each page     */
.headerTitle
{
	color:#0066CC;
	font-weight:bold;
	font-family:arial;
	font-size:15;
}

/******** provide padding between a content and its surrounding area **************************/
.innerPadding
{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.innerPaddingSides
{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.innerPaddingVertical
{
	padding-bottom: 6px;
	padding-top: 6px;
}
.buttonsPadding
{
	padding-bottom: 0px;
	padding-top: 5px;
	vertical-align: bottom;
}
TR.buttonsPadding
{
	vertical-align: bottom;
	background-color: green;
}

/*  manipulates the 1st document's section title */
.headerSubTitle 
{
	background: #CEE1F0;
	color:#003366;
	font-weight:bold;
	font-family:arial;
	font-size:12;
	height: 14px;
	border-bottom-color:#A1CEEA;
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding-right: 10px;
	padding-left: 10px;
}

/*  this !EMPTY! class was build to 
	avoid overRun classes 
	(example: caption class  on a td class)   */
.emptyClass 
{

}

.OtherSubTitle 
{
	background: #CEE1F0;
	color:#003366;
	font-weight:bold;
	font-family:arial;
	font-size:12;
	height: 14px;
	border-bottom-color:#A1CEEA;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-color:#A1CEEA;
	border-top-style:solid;
	border-top-width:1px;
	padding-right: 10px;
	padding-left: 10px;
}

.headerOtherTitle
{
	color:#000080;
	font-weight:bold;
	font-family:arial;
	font-size:12;
	height: 18px;
}

.desktopTitle
{
	background:#FFFFFF;
}

.identityTitle
{
	background:#F6ECCF;
	border-color: #A1CEEA;
	border-style: solid;
	border-width: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.identityDetails
{
	
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.identityDetails TD
{
	padding-left: 0px;
	padding-right: 10px;

}


.footerButtons
{
	background: #FFFFFF;
}

/***********collapsible default classes**********/
.collapsible
{
}

.collapsibleTitle
{
}

.collapsibleImage
{
	
}
.collapsibleSectionGap
{
	height: 5px;
}
.collapsibleSectionContent
{
	border-left-color:#A1CEEA;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#A1CEEA;
	border-right-style:solid;
	border-right-width:1px;
	border-bottom-color:#A1CEEA;
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.collapsibleSectionIcon
{
	color:#003366;
	font-weight:bold;
	font-family:webdings;
	cursor:hand;
	font-size:12;
	height: 14px;
}

.collapsibleSectionTitle
{

	color:#003366;
	font-weight:bold;
	font-family:arial;
	font-size:12;
	height: 14px;
	padding-right: 10px;
	padding-left: 10px;	
}

.collapsibleSectionHead
{
	background: #CEE1F0;
	border-color:#A1CEEA;
	border-style:solid;
	border-width:1px;
	color:#003366;
	font-weight:bold;
	font-family:arial;
	cursor:hand;
	font-size:12;
}

/*********** paging default classses **************/

.pagingBg
{
	border-left-color:#A1CEEA;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#A1CEEA;
	border-right-style:solid;
	border-right-width:1px;
	border-bottom-color:#A1CEEA;
	border-bottom-style:solid;
	border-bottom-width:1px;
	background-color: #F6ECCF;
	height: 22px;
}
.pagingTable
{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: middle;
}
.pagingArrows
{
	color: #336699;
	font-size:12px;
	font-family: webdings;
	cursor:hand;
}
		
/*default class for paging button*/

.pagingButton
{
	font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: blue;
    height: 18px;
    text-decoration: underline;
    cursor:hand;
}

.pagingLink
{
	font-family: Arial;
    font-size: 12;
    font-weight:lighter;
    color: #0066CC;	
}
.pagingCurrentLink
{
	font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #000000;
    padding-left: 1px;
	padding-right: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/*default class for paging combo*/
select.pagingCombo
{
	height:10px;
	width:35;
	color:black;
	font-family: arial;
	font-size: 10;
}
.pagingComboLabel

{
	color: #336699;
	font-family: Arial;
	font-weight:bold;
    font-size: 12;
    padding-right: 3px;
    
}



/*default class for paging link*/
.pagingLink
{
	font-size: 12;
	font-family: arial;
	font-weight: bold;
	color: #0000FF;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/*default class for paging link visited*/
.pagingLink:visited
{
	color:#800080;
}

/*******************default sort classes**************/

/*default class for the "advanced sort" label*/
.advancedSortLabel
{
	color:blue;
	font-size: 12;
	font-weight: bold;
	font-family: arial;
	text-decoration: underline;
}

/*default class for order of the sort*/
.advancedSortOrder
{
	font-size: 9;
}

/*******************default link classes************/

/*default class for link (<A> tag)*/
.link
{
	font-size: 12;
	font-family: arial;
	font-weight: bold;
	color: #0000FF;
}

/*default class for visited link*/
.link:visited
{
	color:#800080;
}



/*******************label classes************/

/*default class for label tag*/
.caption
{
	font-family: Arial;
	font-size: 12;
	color:#000000;
	font-weight:bold; 
	white-space: nowrap;
}

/*class used for bold label*/
.label
{
	font-family: Arial;
	font-size: 12;
	color:black;
	font-weight:normal; 
	white-space: nowrap;
}


/***************default table classes*************/
/*table classes - do not change!!!!*/
.scrollTableWrapper
{
	border-top-color: #A1CEEA;
	border-top-style:solid;
	border-top-width:1px; 
	border-left-color: #A1CEEA;
	border-left-style:solid;
	border-left-width:1px; 
	border-right-color: #A1CEEA;
	border-right-style:solid;
	border-right-width:1px; 
	border-bottom-color: #A1CEEA;
	border-bottom-style:solid;
	border-bottom-width:1px; 
	background: white;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}	

.scrollTableWrapper td
{
	vertical-align: top;	
}

/*eneric table class for frames */

.genericTableFrame
{
	height: 100%;
	width: 100%;
	border-color: #A4CDEB;
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;

}


/*table classes - do not change!!!!*/

.scrollTable
{
	border-color : #A1CEEA;
	background: white;
	width: 100%;
	height: 100%;
	overflow: hidden
}

/*table classes - do not change!!!!*/
.scrollTableHead
{
	behavior: url("theme/syncscroll.htc");
	width: 100%;
	overflow: hidden;
}

/*table classes - do not change!!!!*/
.scrollTableHead table
{
	empty-cells: show;
	table-layout: fixed;
}

/*table classes - do not change!!!!*/
.scrollTableBody
{
	overflow-x: auto;
	overflow-y: scroll;
	width: 100%;
}

/*default class for a link in a cell of a table*/
.tableLink
{
	color:blue;
	font-size: 12;
	font-weight: bold;
	font-family: arial;
	text-decoration: underline;
}

/*default class for the header of the table*/
.header
{
	color:#000080;
	font-weight:bold;
	font-family:arial;
	font-size:13;
}
.tableTitle
{
	color:#000080;
	font-weight:bold;
	font-family:arial;
	font-size:13;
	height: 22px;
}

/*default class for the footer of the table*/
.summary
{
	background:#CEE1F0;
	color:black;
	font-weight:bold;
	font-family:arial;
	font-size:12;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom-color:#A1CEEA;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#A1CEEA;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#A1CEEA;
	border-right-style:solid;
	border-right-width:1px;
}

/*****rows default classes*****/
/*default class for row in a tree table*/

.row
{
	background:white;	
	font-family:arial;
	font-size:12;
	color: black;
}

/*default class for uneven row of a table*/

/*class for an uneven row properties of the table*/
.row1Tr
{
	background:#FEF9EC;
}

/*class for an uneven td properties include graphics*/
.row1
{
	font-family:arial;
	font-size:12;
	color: #000000;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px; 
	border-left-color: #FFFFFF;
	border-left-style:solid;	
	border-left-width: 2px;
	padding-right: 10px;
	padding-left: 10px;	
	height: 20px;
}

.row1_ltr
{
	font-family:arial;
	font-size:12;
	color: #000000;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px; 
	border-right-color: #FFFFFF;
	border-right-style:solid;	
	border-right-width: 2px;
	padding-right: 10px;
	padding-left: 10px;	
	height: 20px;
}

.row1Last
{
	background:#FEF9EC;
	font-family:arial;
	font-size:12;
	color: #000000;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px; 
	padding-right: 10px;
	padding-left: 10px;	
}

/*default class for even row of a table*/


/*class for an even row properties of the table*/
.row2Tr
{	
	background:#FFFFFF;

}

/*class for an even td properties include graphics*/
.row2
{	
	background:#FFFFFF;
	font-family:arial;
	font-size:12;
	color: #000000;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color: #FFFFFF;
	border-left-style:solid;	
	border-left-width: 2px;
	padding-right: 10px;
	padding-left: 10px;
	height: 20px;
}

.row2_ltr
{	
	background:#FFFFFF;
	font-family:arial;
	font-size:12;
	color: #000000;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-right-color: #FFFFFF;
	border-right-style:solid;	
	border-right-width: 2px;
	padding-right: 10px;
	padding-left: 10px;
	height: 20px;
}

.row2Last
{	
	background:#FFFFFF;
	font-family:arial;
	font-size:12;
	color: #000000;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding-right: 10px;
	padding-left: 10px;	
}



/**** column default classes *****/

/*default class for the header of a column in a table*/
.columnHeader
{
	background:#CEE1F0;
	color:#336699;
	font-family: Arial;
	font-size:12;
	font-weight: bold;
	height: 22px;

	;
}

/*default class for the footer of a column in a table*/
.columnFooter
{
	background:#CEE1F0;
	color:#336699;
	font-family: Arial;
	font-size:12;
	font-weight: bold;
	height: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

.columnHeaderTd
{	
	border-bottom-color:#A1CEEA;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color: #FFFFFF;
	border-left-style:solid;	
	border-left-width: 2px;
	padding-right: 5px;
	padding-left: 5px;
}

.columnHeaderTd_ltr
{	
	border-bottom-color:#A1CEEA;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-right-color: #FFFFFF;
	border-right-style:solid;	
	border-right-width: 2px;
	padding-right: 5px;
	padding-left: 5px;
}

.menuTd
{	
	border-bottom-color:#A1CEEA;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color: #FFFFFF;
	border-left-style:solid;	
	border-left-width: 2px;
	background:#CEE1F0;
	text-align: center;
}

.menuTd_ltr
{	
	border-bottom-color:#A1CEEA;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-right-color: #FFFFFF;
	border-right-style:solid;	
	border-right-width: 2px;
	background:#CEE1F0;
	text-align: center;
}

/* deals with the td that contains a checkbox in the table */
.columnHeaderTdCheckbox
{	
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color: #FFFFFF;
	border-left-style:solid;	
	border-left-width: 2px;
	padding-top:3px;
	padding-right:5px;
	padding-left:3px;
	font-size: 2px;
}

.columnHeaderTdCheckbox_ltr
{	
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-right-color: #FFFFFF;
	border-right-style:solid;	
	border-right-width: 2px;
	padding-top:3px;
	padding-right:5px;
	padding-left:3px;
	font-size: 2px;
}

.columnHeaderTdLast
{
	border-bottom-color:A1CEEA;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.columnFooterTD
{
	border-top-color:#A1CEEA;
	border-top-style:solid;
	border-top-width:1px;
	border-left-color: #FFFFFF;
	border-left-style:solid;	
	border-left-width: 2px;
}

.columnFooterTD_ltr
{
	border-top-color:#A1CEEA;
	border-top-style:solid;
	border-top-width:1px;
	border-right-color: #FFFFFF;
	border-right-style:solid;	
	border-right-width: 2px;
}


.columnFooterTdLast
{
	border-top-color:A1CEEA;
	border-top-style:solid;
	border-top-width:1px;
}
.toptableLink
{
	padding-right: 15px;
	color: #0000FF;
	font-size: 12px;
	font-weight: bold;
	font-family: arial;
	text-decoration: underline;
}


/****cell default classes*****/
/*default class for a cell with a link in the table*/
.cellLink
{
	color: #0000FF;
	font-weight:bold;
	font-family:arial;
	font-size:12;
}

/*default class for a selected cell with a link in the table*/
.cellLinkSelected
{
	color: white;
	font-weight:bold;
	font-family:arial;
	font-size:12;
}

/***********tree default classes******/
/*default class for tree div*/
.tree
{
	overflow:auto;
	height:100%;
	width:100%;
	scrollbar-arrow-color:black;
	background: #FEF9EC;
	
}

/*default class for node of a tree*/
.node
{
	color: #000080;
	font-weight:bold;
	font-size:12;
	font-family: arial;
	cursor: hand;
}

/*default class for selected node of a tree*/
.selectedNode
{
	background-color: #000080;
	color:#FFFFFF;
}

.nodeSelected
{
	background-color: #000080;
	color:#FFFFFF;
	font-weight:bold;
	font-size:12;
	font-family: arial;
	cursor: hand;	
}

/*default class for linked node of a tree*/
.linkedNode
{
	color:#0000FF;
	font-size:12;
	font-family: arial;
}

/*default class for selected and linked node of a tree*/
.selectedLinkedNode
{
	color:white;
}
/*default class for the first level of a tree*/

.level1ClassTr
{
	background:#F6ECCF;
}

.level1Class
{
	background:#F6ECCF;
	font-family:arial;
	font-size:12;
	color: #006633;
	font-weight: bold;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px; 
	border-left-color: #FFFFFF;
	border-left-style:solid;	
	border-left-width: 2px;
	padding-right: 10px;
	padding-left: 10px;
}

.level1ClassFirst
{
	background:#F6ECCF;
	font-family:arial;
	font-size:12;
	color: #006633;
	font-weight: bold;
}

.level1Class_ltr
{
	background:#F6ECCF;
	font-family:arial;
	font-size:12;
	color: #006633;
	font-weight: bold;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px; 
	border-right-color: #FFFFFF;
	border-right-style:solid;	
	border-right-width: 2px;
	padding-right: 10px;
	padding-left: 10px;
}

.level1ClassLast
{
	background:#F6ECCF;
	font-family:arial;
	font-size:12;
	color: #006633;
	font-weight: bold;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px; 
	padding-right: 10px;
	padding-left: 10px;
}

/*default class for the second level of a tree*/
.level2ClassTr
{
	background:#FEF9EC;
}

.level2Class
{
	background:#FEF9EC;
	font-family:arial;
	font-size:12;
	color: #4410AC;
	font-weight: bold;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color: #FFFFFF;
	border-left-style:solid;	
	border-left-width: 2px;
	padding-right: 10px;
	padding-left: 10px;
}

.level2ClassFirst
{
	background:#FEF9EC;
	font-family:arial;
	font-size:12;
	color: #4410AC;
	font-weight: bold;
}

.level2Class_ltr
{
	background:#FEF9EC;
	font-family:arial;
	font-size:12;
	color: #4410AC;
	font-weight: bold;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-right-color: #FFFFFF;
	border-right-style:solid;	
	border-right-width: 2px;
	padding-right: 10px;
	padding-left: 10px;
}
.level2ClassLast
{
	background:#FEF9EC;
	font-family:arial;
	font-size:12;
	color: #4410AC;
	font-weight: bold;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;	
}

/*default class for the third level of a tree*/
.level3ClassTr
{
	background:#FFFFFF;
}

.level3Class
{
	background:#FFFFFF;
	font-family:arial;
	font-size:12;
	color: #000000;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color: #FFFFFF;
	border-left-style:solid;	
	border-left-width: 2px;
	padding-right: 10px;
	padding-left: 10px;
}

.level3ClassFirst
{
	background:#FFFFFF;
	font-family:arial;
	font-size:12;
	color: #000000;
}

.level3Class_ltr
{
	background:#FFFFFF;
	font-family:arial;
	font-size:12;
	color: #000000;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-right-color: #FFFFFF;
	border-right-style:solid;	
	border-right-width: 2px;
	padding-right: 10px;
	padding-left: 10px;
}

.level3ClassLast
{
	background:#FFFFFF;
	font-family:arial;
	font-size:12;
	color: #000000;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding-right: 10px;
	padding-left: 10px;
}

/*default class for the fourth level of a tree*/
.level4ClassTr
{
	background:#FFFFFF;
}

.level4Class
{
	background:#FFFFFF;
	font-family:arial;
	font-size:12;
	color: #000000;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color: #FFFFFF;
	border-left-style:solid;	
	border-left-width: 2px;
	padding-right: 10px;
	padding-left: 10px;
}

.level4ClassFirst
{
	background:#FFFFFF;
	font-family:arial;
	font-size:12;
	color: #000000;
}

.level4Class_ltr
{
	background:#FFFFFF;
	font-family:arial;
	font-size:12;
	color: #000000;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-right-color: #FFFFFF;
	border-right-style:solid;	
	border-right-width: 2px;
	padding-right: 10px;
	padding-left: 10px;
}

.level4ClassLast
{
	background:#FFFFFF;
	font-family:arial;
	font-size:12;
	color: #000000;
	border-bottom-color: #E5EFF6;
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding-right: 10px;
	padding-left: 10px;
}


/*default class for selected row of a table*/
.rowSelected
{
	background: #000080;
	font-weight: bold;
	color: white;	
}
/**************default classes of list components***********/
/*combo*/

/*default class for list of type combo in normal state*/
.comboNormalClass
{
	width:130;
	color:black;
	font-family: arial;
	font-size: 12;
}

/*default class for list of type combo in error state*/
.comboErrorClass
{
	width:130;
	background: #FFFFFF;
	color:black;
	font-family: arial;
	font-size: 12;
	background: #F6EBFB;
}

/*default class for list of type combo in disabled state*/
.comboDisableClass
{
	width:130;
	background:#F4F4F4;
	color:black;
	font-family: arial;
	font-size: 12;
}

/*default class for list of type combo in mandatory state*/
.comboMandatoryClass
{
	width:130;
	background:#FFFFDB;
	color:black;
	font-family: arial;
	font-size: 12;
}

/*default class for multiple list in normal state*/
.listNormalClass
{
	width:130;
	color:black;
	font-family: arial;
	font-size: 12;
}

/*default class for multiple list in error state*/
.listErrorClass
{
	width:130;
	background: #FFFFFF;
	color:black;
	font-family: arial;
	font-size: 12;
	background: #F6EBFB;
}

/*default class for multiple list in disabled state*/
.listDisableClass
{
	width:130;
	background-color : EDEDED;
    color : 575757;
}

/*default class for multiple list in mandatory state*/
.listMandatoryClass
{
	width:130;
	background:#FFFFDB;
	color:black;
	font-family: arial;
	font-size: 12;
}

/*single expanded*/

/*default class for list of type single expanded in normal state*/
.singleExNormalClass
{
	width:130;
	color:black;
	font-family: arial;
	font-size: 12;
}

/*default class for list of type single expanded in error state*/
.singleExErrorClass
{
	width:130;
	background: #FFFFFF;
	color:black;
	font-family: arial;
	font-size: 12;
	background: #F6EBFB;
}

/*default class for list of type single expanded in disabled state*/
.singleExDisableClass
{
	width:130;
	background:#F4F4F4;
	color:black;
	font-family: arial;
	font-size: 12;
}

/*default class for list of type single expanded in mandatory state*/
.singleExMandatoryClass
{
	width:130;
	background:#FFFFDB;
	color:black;
	font-family: arial;
	font-size: 12;
}

/*multiple expanded*/

/*default class for list of type multiple expanded in normal state*/
.multipleExNormalClass
{
	width:130;
	color:black;
	font-family: arial;
	font-size: 12;
}

/*default class for list of type multiple expanded in error state*/
.multipleExErrorClass
{
	width:130;
	background: #FFFFFF;
	color:black;
	font-family: arial;
	font-size: 12;
	background: #F6EBFB;
}

/*default class for list of type multiple expanded in disabled state*/

.multipleExDisableClass
{
	width:130;
	background-color : #F4F4F4;
    color : #868686;
}

/*default class for list of type multiple expanded in mandatory state*/
.multipleExMandatoryClass
{
	width:130;
	background:#FFFFDB;
	color:black;
	font-family: arial;
	font-size: 12;
}




/*****************************************/
/*       classes for  the popups          /
/*****************************************/

.sortTitle
{
	font-family: Arial;
    font-size: 12;
    color: #000000;
    font-weight: bold;
    height: 30px;
}
select.sortCombo
{
	height:20px;
	color:black;
	font-size: 12px;
	
}
.sortSelect
{

	width: 100px;
}
.sortRadioText
{
	font-family: ARIAL; 
	font-size: 12px;
	color: #000000;
}
hr.sortSeperator
{
	height: 1px;
	color: #ffffff;

}

.popupMainLayout
{
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: top;
}

/*default class for the body of each dialog page*/
.bodyDialog
{
	background: #E0E0E0;
}



/*listToList*/

/*default class for list of type "list to list" in normal state*/


.listToListNormalClass
{
	height:100%;
	width:180;
	color:black;
	font-family: arial;
	font-size: 12;
}

/*default class for list of type "list to list" in error state*/
.listToListErrorClass
{
	;
	width:130;
	background: #FFFFFF;
	color:black;
	font-family: arial;
	font-size: 12;
	background: #F6EBFB;
}

/*default class for list of type "list to list" in disabled state*/
.listToListDisableClass
{
	width:130;
	background:#F4F4F4;
	color:black;
	font-family: arial;
	font-size: 12;
}

/*default class for list of type "list to list" in mandatory state*/
.listToListMandatoryClass
{
	width:130;
	background:#FFFFDB;
	color:black;
	font-family: arial;
	font-size: 12;
}

/**************default classes of "list to list" buttons***********/

/*default classes for "list to list" buttons - add,addAll,remove,removeAll*/
.listToListButton
{
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #FFFFFF;
    height: 18px;
    background: #017CCA;
	border : 1px outset;
    padding-left: 5px;
	padding-right: 5px;     
}

.listToListButtonDisabled
{
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #FFFFFF;
    height: 18px;
    background: #E3DFDF;
    border : 1px outset;
    padding-left: 5px;
	padding-right: 5px;
}

/*default classes for "list to list" search button*/
.listToListSearchButton
{
   font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #FFFFFF;
    height: 18px;
    background: #017CCA;
	border : 1px outset;
    padding-left: 5px;
	padding-right: 5px;  
}

/*default classes for "list to list" filter button*/
.listToListFilterButton
{
    font-family: Arial;
    font-size: 12;
    color: #000000;
    border : 1px solid outset;
    background: #C0C0C0;        
 	padding-left: 5px;
	padding-right: 5px;  
}

/*default classes for "list to list" reset button*/
.listToListResetButton
{
    font-family: Arial;
    font-size: 12;
    color: #000000;
    border : 1px solid outset;
    background: #C0C0C0;        
 	padding-left: 5px;
	padding-right: 5px;  
}
.srcTitle
{
	font-family: Arial;
    font-size: 12;
    color: #000000;
    font-weight: bold;
}
.trgTitle
{
	font-family: Arial;
    font-size: 12;
    color: #000000;
    font-weight: bold;
}

input.listOpenDialogButton
{
	background-image: url("../images/heb/I_Select.png");
	background-position: top;
	width:20px;
	height: 21px;
	border-style: none;
	cursor:hand;
}

input.listOpenDialogButton_ltr
{
	background-image: url("../images/eng/I_Select.png");
	background-position: top;
	width:20px;
	height: 21px;
	border-style: none;
	cursor:hand;
}

input.listOpenDialogButtonDisabled
{
	background-image: url("../images/heb/I_SelectDisabled.png");
	background-position: top;
	width:20px;
	height: 21px;
	border-style: none;	
}

input.listOpenDialogButtonDisabled_ltr
{
	background-image: url("../images/eng/I_SelectDisabled.png");
	background-position: top;
	width:20px;
	height: 21px;
	border-style: none;	
}

select.listToListCombo
{
	height:20px;
	color:black;
	font-size: 12px;
}

.listToListSearchText
{
	height:20px;
	color:black;
	width: 100%px;
}

.srcListTitle
{
	font-family: Arial;
	font-size: 12;
	color:black;
	font-weight:bold; 
	white-space: nowrap;
}

.trgListTitle
{
	font-family: Arial;
	font-size: 12;
	color:black;
	font-weight:bold; 
	white-space: nowrap;
}

/************default classes of text field************/

.textFieldNormalClass
{
	background: #FFFFFF;
	color:black;
	font-family: arial;
	font-size: 12;
	height: 20px;	         
}

.textFieldErrorClass
{
	background: #F6EBFB;
	color:black;
	font-family: arial;
	font-size: 12;
	height: 20px;	         
}

.textFieldDisableClass
{
	background:#F4F4F4;
	color:black;
	font-family: arial;
	font-size: 12;
	height: 20 px;
}

.textFieldMandatoryClass
{
	background:#FFFFDB;
	color:black;
	font-family: arial;
	font-size: 12;
	height: 20 px;
}

/************default classes of text area************/
.textAreaNormalClass
{
	behavior: url("theme/maxlength.htc");
	background: #FFFFFF;
	color:black;
	font-family: arial;
	font-size: 12;
}

.textAreaErrorClass
{
	behavior: url("theme/maxlength.htc");
	background: #F6EBFB;
	color:black;
	font-family: arial;
	font-size: 12;
	height: 20px;	         
	height: 100px;
}

.textAreaDisableClass
{
	behavior: url("theme/maxlength.htc");
	background:#F4F4F4;
	color:black;
	font-family: arial;
	font-size: 12;
	height: 100px;
	border:inset;
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}

.textAreaMandatoryClass
{
	behavior: url("theme/maxlength.htc");
	background:#FFFFDB;
	color:black;
	font-family: arial;
	font-size: 12;
	height: 100px;
}

input.expandButtonClass
{ 
	background-image: url("../images/heb/I_ExTextArea.png");
	background-position: top;
	width:20px;
	height: 21px;
	border-style: none;
	cursor:hand;
}

input.expandButtonClass_ltr
{ 


	background-image: url("../images/eng/I_ExTextArea.png");
	background-position: top;
	width:20px;
	height: 21px;
	border-style: none;
	cursor:hand;
}

input.expandButtonClassDisabled
{ 
	background-image: url("../images/heb/I_ExTextAreaDisabled.png");
	background-position: top;
	width:20px;
	height: 21px;
	border-style: none;
	cursor:hand;
}

input.expandButtonClassDisabled_ltr
{ 
	background-image: url("../images/eng/I_ExTextAreaDisabled.png");
	background-position: top;
	width:20px;
	height: 21px;
	border-style: none;
	cursor:hand;
}

/******** default classes of selection components(radio/checkbox) ******/

/** radio **/
.selectionSingleNormalClass
{
	color:black;
	font-family: arial;
	font-size: 12;
	height: 20px;
	white-space: nowrap;
}

.selectionSingleDisableClass
{
	color:black;
	font-family: arial;
	font-size: 12;
	height: 20 px;
	white-space: nowrap;
}

.selectionSingleErrorClass
{
	background: #F6EBFB;
	color:black;
	font-family: arial;
	font-size: 12;
	height: 20px;	         
	white-space: nowrap;
}

.selectionSingleMandatoryClass
{
	color:black;
	font-family: arial;
	font-size: 12;
	height: 20 px;
	white-space: nowrap;
}

/** checkbox **/
.selectionMultipleNormalClass
{
	color:black;
	font-family: arial;
	font-size: 12;
	font-weight: bold;
	height: 20px;	         
}

.selectionMultipleDisableClass
{
	color:black;
	font-family: arial;
	font-size: 12;
	font-weight: bold;
	height: 20 px;
}

.selectionMultipleErrorClass
{
	color:black;
	font-family: arial;
	font-size: 12;
	height: 20px;	         
	font-weight: bold;
}

.selectionMultipleMandatoryClass
{
	color:black;
	font-family: arial;
	font-size: 12;
	height: 20 px;
	font-weight: bold;
}

/************default classes of button************/

.textAreaExpanderButton
{
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #FFFFFF;
    height: 18px;
    background: #017CCA;
    border : 1px outset;
	padding-left: 5px;
	padding-right: 5px;    
}


.buttonEnabled
{
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #FFFFFF;
    height: 18px;
    background: #017CCA;
    border : 1px outset;
	padding-left: 5px;
	padding-right: 5px;    
}

.buttonDisabled
{
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #FFFFFF;
    height: 18px;
    background: #E3DFDF;
    border : 1px outset;
    padding-left: 5px;
	padding-right: 5px;
}

.buttonDialog
{
    font-family: Arial;
    font-size: 12;
    color: #000000;
    height: 25px;
    border : 1px solid outset;
}


/************ start default messages classes************/
.messagesWrapperTable
{
	background-color: #FFFFFF;   
    height: 100%;
	width: 100%;
	border-color: #A4CDEB;
	border-style: solid;
	border-width: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 12px;
	padding-left: 12px;
}

.messagesContainerTable
{
	overflow :auto;
	border-color: #B994D7;
	border-style: solid;
	border-width: 1px;
	background-color: #F6EBFB; 
}

.messagesTable
{
	width:100%;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 2px;
	padding-top: 2px;
}

input.messagesButton
{
	background: #996699;
	font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #FFFFFF;
    height: 18px;
    border : 1px outset;
	padding-left: 5px;
	padding-right: 5px;
}

.messagesRow
{
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: maroon;
}

.messagesCell
{
}

.messagesSeverityCell
{
}

.messagesSeverityCritical
{
	color:green;
}

.messagesSeverityError
{
	color:red;
	padding: 1px;
}

.messagesSeverityDebug
{
	color:bluered;	
	padding: 1px;
}

.messagesSeverityWarning
{
	color:blue;
	padding: 1px;
}

.messagesSeverityInfo
{
	color:blue;
	padding: 1px;
}
/************ end default messages classes************/

/************default classes of toolbar button************/
input.toolBarButtonEnabled
{
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #FFFFFF;
    height: 18px;
    background: #017CCA;
    border : 1px;
	border : 1px outset;
    padding-left: 5px;
	padding-right: 5px;    
}

input.toolBarButtonDisabled
{
    font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #FFFFFF;
    height: 18px;
    background: #E3DFDF;
    border : 1px outset;
    padding-left: 5px;
	padding-right: 5px;     
}

.toolBarSpace
{
	font-size: 14px;
}

.toolBarLargeSpace
{
	font-size: 12px;
	padding-left: 6;
	padding-right:6; 
}

.toolbar
{
	height: 20;
	width: 40;
}


.mainDiv
{
	overflow-y:scroll;
	overflow-x:none;	
	height:100%;
	width:100%;
	scrollbar-arrow-color:black;	
}

.errorTagDiv
{
	overflow-y:scroll;
	overflow-x:none;	
	height:100%;
	width:100%;
	scrollbar-arrow-color:black;
	direction: ltr;
}

.mainScreenDivbck
{
	overflow-y:auto;
	overflow-x:none;	
	height:100%;
	width:100%;
	border: 1px red solid;
}

.mainScreenDiv
{
	overflow-y:auto;
	overflow-x:none;	
	height:100%;
	width:100%;
}

/*class used for buttons under the tree*/

.treeBackground
{
	background: #FEF9EC;
	border-style: solid;
	border-width: 1px; 
	border-color: #B2DAF3;

	/*	border-top-style: solid;
	border-top-width: 1px; 
	border-top-color: #B2DAF3;
	border-right-style: solid;
	border-right-width: 1px; 
	border-right-color: #B2DAF3;
	border-left-style: solid;
	border-left-width: 1px; 
	border-left-color: #B2DAF3;
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 10px; */
}

/********   class used for buttons under the tree    ********/
.treeBackground2
{
	background: #FEF9EC;
	border-bottom-style: solid;
	border-bottom-width: 1px; 
	border-bottom-color: #B2DAF3;
	border-right-style: solid;
	border-right-width: 1px; 
	border-right-color: #B2DAF3;
	border-left-style: solid;
	border-left-width: 1px; 
	border-left-color: #B2DAF3;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 10px;
}
.treeDiv
{
	overflow-y: auto;
	overflow-x: auto;	
	height:100%;
	width:100%;
	scrollbar-arrow-color:black;	
}
INPUT.treeButton
{
  	font-family: Arial;
    font-size: 12;
    font-weight: bold;
    color: #FFFFFF;
	height: 18px;
    background: #017CCA;
    border : 1px outset;
    padding-left: 5px;
	padding-right: 5px; 
   	
}



/****************default tab classes***************/

/* control the color (of the number) on the tabs */
x.
{
color: red;
}

.hTabSelected
{
	font-family: Arial;
	font-weight: bold;
	font-size: 12;
	background-color: white;
	color: #003366;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #007CCA;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #007CCA;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #007CCA;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
}

.hTabEnabled
{
	font-family: Arial;
	font-weight:bold;
	font-size: 12;
	cursor: pointer;
	background-color: #B2DAF3;
	color: #336699;
	padding-right: 5px;
	padding-left: 5px;
	border-style: solid;
	border-width: 0px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
	border-bottom-width: 1px; 
	border-bottom-color: #007CCA;
	
}

.hTabDisabled
{
	font-family: Arial;
	font-weight:bold;
	font-size: 12;
	background-color: #dbdbdb;
	color: gray;
	padding-right: 5px;
	padding-left: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
}

.hTabGap {
	font-size: 6;
	padding: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px; 
	border-bottom-color: #007CCA;
}

.hTabFill { 
	font-size: 6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #007CCA;
}

.hTabBody {
	height: 100%;
	width: 100%;
	overflow: auto;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #007CCA;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #007CCA;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #007CCA;
	padding: 8px;
}

.vTabSelected {
	font-family: Arial;
	font-weight: bold;
	font-size: 12;
	background-color: white;
	color: #003366;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #007CCA;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #007CCA;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #007CCA;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
}

.vTabSelected_ltr
{
	font-family: Arial;
	font-weight: bold;
	font-size: 12;
	background-color: white;
	color: navy;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #007CCA;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #007CCA;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #007CCA;	
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
}

.vTabEnabled
{
	font-family: Arial;
	font-weight:bold;
	font-size: 12;
	cursor: pointer;
	background-color: #B2DAF3;
	color: #336699;
	border-left-color: #007CCA;
	border-left-style: solid;
	border-left-width: 1px;
	padding-right: 5px;
	padding-left: 5px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
}

.vTabEnabled_ltr
{
	font-family: Arial;
	font-weight:bold;
	font-size: 12;
	cursor: pointer;
	background-color: #B2DAF3;
	color: #336699;
	border-right-color: #007CCA;
	border-right-style: solid;
	border-right-width: 1px;
	padding-right: 5px;
	padding-left: 5px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
}


.vTabDisabled
{
	font-family: Arial;
	font-weight:bold;
	font-size: 12;
	background-color: #dbdbdb;
	color: gray;
	padding-right: 5px;
	padding-left: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
}

.vTabGap {
	font-size: 2;
	padding: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #007CCA;
}

.vTabGap_ltr {
	font-size: 2;
	padding: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #007CCA;
}

.vTabFill { 
	font-size: 2;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #007CCA;
}

.vTabFill_ltr { 
	font-size: 2;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #007CCA;
}

.vTabBody {
	height: 100%;
	width: 100%;
	overflow: auto;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #007CCA;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #007CCA;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #007CCA;
	padding: 8px;
	
}

.vTabBody_ltr {
	height: 100%;
	width: 100%;
	overflow: auto;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #007CCA;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #007CCA;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #007CCA;
	padding: 3px;
}

.mTabHSelected {
	font-family: Arial;
	font-weight: bold;
	font-size: 12;
	background-color: #FEE6A0;
	color: #003366;
	border-style: solid;
	border-width: 1px;
	border-color: #FECD28;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 10px;
}

.mTabHEnabled
{
	font-family: Arial;
	font-weight:bold;
	font-size: 12;
	cursor: pointer;
	background-color: #B2DAF3;
	color: #336699;
	padding-right: 5px;
	padding-left: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #A1CEEA;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 10px;
}

.mTabHDisabled
{
	font-family: Arial;
	font-weight:bold;
	font-size: 12;
	background-color: #dbdbdb;
	color: gray;
	padding-right: 5px;
	padding-left: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 10px;
}

.mTabVSelected {
	font-family: Arial;
	font-weight: bold;
	font-size: 12;
	background-color: #FEE6A0;
	color: #003366;
	border-style: solid;
	border-width: 1px;
	border-color: #FECD28;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 10px;
}

.mTabVEnabled
{
	font-family: Arial;
	font-weight:bold;
	font-size: 12;
	cursor: pointer;
	background-color: #B2DAF3;
	color: #336699;
	padding-right: 5px;
	padding-left: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #9ED0EB;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 10px;
}

.mTabVDisabled
{
	font-family: Arial;
	font-weight:bold;
	font-size: 12;
	background-color: #dbdbdb;
	color: gray;
	padding-right: 5px;
	padding-left: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 10px;
}


.mTabHGap {
	font-size: 6;
	padding: 1px;
}

.mTabVGap {
	font-size: 2;
	padding: 1px;
}

.mTabBody {
	height: 100%;
	width: 100%;
	overflow: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #007CCA;
	padding: 8px;
}

/****menu default classes*****/
.menu
{
	background:#808080;
}

.menuItem
{
	background:#F6F3EC;
	color: #000000;
	font-size:12;
	font-family: arial;
	padding-right:5px; 
	padding-left:5px; 
}
.menuItemOver
{
	background:#000066;
	color: #FFFFFF;
	font-size:12;
	font-family: arial;
	padding-right:5px;
	padding-left:5px; 
}


.pkgDetailsFrame
{
	border-color: #A1CEEA;
	border-style: solid;
	border-width: 1px;
}

headerButtons
{
	padding-top: 1;
	padding-bottom: 0;
	padding-left: 1;
	padding-right: 1;
}

.headerImage
{
	background-image: expression("url(images/" + SYSTEM_LANG  + "/Header_BG_1.jpg)");
}
.headerImage2
{
	background-image: expression("url(images/" + SYSTEM_LANG  + "/Header_BG_2.png)");
	height: 22px;
}
.headerImage3
{
	background-image: expression("url(images/" + SYSTEM_LANG  + "/Header_BG_3A.jpg)");
	width: 290;
}
.headerImage4
{
	background-image: expression("url(images/" + SYSTEM_LANG  + "/Header_BG_3B.png)");
}
.headerImage5
{
	background-image: expression("url(images/" + SYSTEM_LANG  + "/Header_BG_3C.jpg)");
	width: 640;
}
/*********************************
	special	classes for Common
**********************************/
	
.cmNotInMonth
{
	color: #FFFFFF;
	font-family:arial;
	font-size: 12;
	font-weight: bold;
	vertical-align:middle;
	text-align:center;
	width: 25;
	height: 25;
	border :1px;
	background-color:#cccccc;
	padding: 2px;
	border-style:solid;
	border-color :#cccccc;   
}

.cmInputDay
{
	color: #F0F8FF;
	font-family:arial;
	font-size: 12;
	font-weight: bold;
	vertical-align:middle;
	text-align:center;
	width: 25;
	height: 25;
	border :1px;
	background-color:#ACCBD1;
	padding:1px;
	border-style:solid;
	border-color :#F0F8FF;
}

.cmNotInputDay
{
	color: #1A4F5A;
	font-family:arial;
	font-size: 12;
	font-weight: bold;
	vertical-align:middle;
	text-align:center;
	width: 25;
	height: 25;
	border :1px;	
	background-color:#ACCBD1;
	padding: 2px;
	border-style:solid;
	border-color :#1A4F5A;
}

/*  this class will be add to dispaly selected classes  */
.cmSelected
{
	color: #000000;
	font-family:arial;
	font-size: 12;
	font-weight: bold;
	vertical-align:middle;
	text-align:center;
	width: 25;
	height: 25;
	border :2px;
    border-style:solid;
	border-color :red;   
}
