<Style>/* Default CSS Stylesheet for a new Web Application project */{}

.GeneralPage
{
background-color: #333333; /* Background Color */
background-image: url(images/PFW_background.gif); /* Background Image */
margin-bottom: 0px; /* Margins */
margin-left: 0px; /* Margins */
margin-right: 0px; /* Margins */
margin-top: 0px; /* Margins */
}

.GeneralTable
{
background-color: #333333; /* Background Color */
}

.TopBanner
{
font-family: Abadi MT Condensed; /* Font Face */
font-size: 14pt; /* Font Size */
color: #666666; /* Font Color */
font-weight: Bold; /* Font Style */
text-decoration: none;
font-style: normal; /* FontStyle */
background-color: #333333; /* Background color */
text-align: Left; /* Align Text */
}

.TopSubBanner
{
font-family: Verdana; /* Font Face */
font-size: 9pt; /* Font Size */
color: White; /* Font Color */
font-weight: Bold; /* Font Style */
font-style: normal; /* FontStyle */
text-decoration: none;
background-color: #333333; /* Background color */
background-image: url(images/stripes.gif); /* Background Image */
text-align: Center; /* Align Text */
}

.LeftColumn
{
font-family: Verdana; /* Font Face */
font-size: 9pt; /* Font Size */
color: White; /* Font Color */
font-weight: Bold; /* Font Style */
font-style: normal; /* FontStyle */
text-decoration: none;
background-color: #666666; /* Background color */
text-align: Left; /* Align Text */
vertical-align: Top; /* Align Text */
width: 15%;}

.RightColumn
{
font-family: Verdana; /* Font Face */
font-size: 9pt; /* Font Size */
color: White; /* Font Color */
font-style: normal; /* Font Style */
font-weight: Bold; /* Font Style */
text-decoration: none;
background-color: #666666; /* Background color */
text-align: Left; /* Align Text */
vertical-align: Top; /* Align Text */
width: 15%;}

.Footer
{
font-family: Verdana; /* Font Face */
font-size: 8pt; /* Font Size */
color: White; /* Font Color */
font-weight: Normal; /* Font Style */
font-style: normal; /* FontStyle */
text-decoration: none;
background-color: #666666; /* Background color */
text-align: Center; /* Align Text */
vertical-align: Middle; /* Align Text */
}

.Instructions
{
font-family: Verdana; /* Font Face */
font-size: 8pt; /* Font Size */
color: Navy; /* Font Color */
font-weight: Normal; /* Font Style */
font-style: normal; /* FontStyle */
text-decoration: none; /* Font Style */
background-color: #CCCCCC; /* Background color */
text-align: Left; /* Align Text */
}

.ErrorMessages
{
font-family: Verdana; /* Font Face */
font-size: 9pt; /* Font Size */
color: #CC0000; /* Font Color */
font-weight: Bold; /* Font Style */
font-style: normal; /* FontStyle */
text-decoration: none; /* Font Style */
background-color: #CCCCCC; /* Background color */
text-align: Center; /* Align Text */
}

.Messages
{
font-family: Verdana; /* Font Face */
font-size: 9pt; /* Font Size */
color: Black; /* Font Color */
font-weight: Normal; /* Font Style */
font-style: normal; /* FontStyle */
text-decoration: none; /* Font Style */
background-color: White; /* Background color */
text-align: Left; /* Align Text */
}

.Headings
{
font-family: Verdana; /* Font Face */
font-size: 11pt; /* Font Size */
color: Black; /* Font Color */
font-weight: Bold; /* Font Style */
font-style: normal; /* FontStyle */
text-decoration: none; /* Font Style */
background-color: White; /* Background color */
text-align: Left; /* Align Text */
}

.Content
{
font-family: Verdana; /* Font Face */
font-size: 10pt; /* Font Size */
color: Black; /* Font Color */
font-weight: Normal; /* Font Style */
font-style: normal; /* FontStyle */
text-decoration: none; /* Font Style */
background-color: White; /* Background color */
text-align: Left; /* Align Text */
}

.ContentTableHeader
{
font-family: Verdana; /* Font Face */
font-size: 10pt; /* Heading Font Size */
color: White; /* Heading Font Color */
font-weight: Bold; /* Heading Font Style */
font-style: normal; /* Heading FontStyle */
text-decoration: none; /* Heading Font Style */
background-color: #999999; /* Background color */
text-align: Center; /* Align Text */
}

.ContentTable
{
background-color: Black;
}

.ContentTableHorizontal
{
background-color: Black;
}

</Style>