  body,div,td,th,p,form {
    font-family:verdana,arial,helvetica,sans-serif;
  }
  
  hr {
    width:80%;
    height:1px;
  }
    
  body {
    background-color:#ffffff;
    margin: -10px 0px 0px -10px;
    font-size:80%;
  }

  img {
    border-width:0px;
  }

  ul {
    margin-top:2ex;
    margin-bottom:2ex;
    padding-left:6px;
    margin-left:10px;
    list-style-type:square;
  }

  li {
    margin-top:0.6ex;
    margin-bottom:0.6ex;
  }
  
  p {
    margin-top:2ex;
    margin-bottom:2ex;
  }
  
  h1 {
   font-weight:bold;
   font-size:150%;
   vertical-align:top;
   color:#333333;
   margin-top:2ex;
   margin-bottom:1ex;
  }

  h2 {
   font-weight:normal;
   font-size:140%;
   vertical-align:top;
   color:#333333;
   margin-top:2ex;
   margin-bottom:1ex;
  }

  h3 {
   font-weight:normal;
   font-size:130%;
   vertical-align:top;
   color:#333333;
   margin-top:2ex;
   margin-bottom:1ex;
  }

  h4 {
   font-weight:bold;
   font-size:120%;
   vertical-align:top;
   color:#333333;
   margin-top:2ex;
   margin-bottom:1ex;
  }

  h5 {
   font-weight:bold;
   font-size:110%;
   vertical-align:top;
   color:#333333;
   margin-top:2ex;
   margin-bottom:1ex;
  }

  h6 {
   font-weight:bold;
   font-size:100%;
   vertical-align:top;
   color:#333333;
   margin-top:2ex;
   margin-bottom:1ex;
  }

  td {
    vertical-align:top;
  }

  table {
      font-size:100%;
  }
  
  th {
    text-align:left;
    vertical-align:top;
  }
  
  #bodytable {
    width:100%; 
    height:100%; 
    margin:0pt; 
    border:0px; 
    padding:0px; 
    border-collapse:collapse;  
  }
  
  #pagetop {
    background-color:#666666; 
    padding:10px; 
  }

  #searchtable {
    width:766px;
  }
  
  #pagerest {
    height:100%;
  }
  
  #navbar {
    width:760px;
  }
  
  #navbar a {
    text-decoration:none;
    width:100%;
    color:#ffffff;
  }

  #navbar a:visited {
    color:#ffffff;
  }

  #navbar td {
    padding-top:4px;
    padding-bottom:2px;
    text-transform:uppercase;
    width:111px;
    sbackground-color:#777777;
  }

  td.navplain {
    color:#ffffff;
    text-align:center;
    border: 1px solid #888888;
    background-color:#777777;
    font-size:10px;
  }

  td.navhighlight {
    color:#ffffff;
    text-align:center;
    border: 1px solid;
    border-top-color:#525252;
    border-left-color:#525252;
    border-right-color:#262626;
    border-bottom-color:#393939;
    background-color:#393939;
    font-size:10px;
  }

  td.navplain a {
    color:#ffffff;
    text-decoration:none;
  }

  #navbar a:hover,#navbar td.navhighlight a,#navbar td.navhighlight a:visited{
    color:#ff9900;
  }

  #subnavbarwrapper {
  }

  #subnavbar {
    white-space:nowrap;
    border: 1px solid #666666;
  }

  #subnavbar.highlight {
    background-color:#393939;
    border: 1px solid;
    border-top-color:#393939;
    border-left-color:#525252;
    border-right-color:#262626;
    border-bottom-color:#262626;
  }
  
  #subnavbar a {
    color:#ffffff;
    text-decoration:none;
  }

  #subnavbar a:visited {
    color:#ffffff;
    text-decoration:none;
  }

  #subnavbar a.selectedsub,#subnavbar a.selectedsub:visited {
    color:#ff9900;
  }

  #subnavbar a:hover {
    color:#ff9900;
  }
  
  #subnavbar a {
    stext-transform:uppercase;
    padding-left:10px; padding-right:10px;
    color:#ffffff;
  }

  #sidebar {
    background-color:#666666;
    color:#ffffff;
    font-size:70%;
    padding-right:10px;
    padding-left:10px;
  }

  #tertiary {
    position:relative;
    top:-18; left:-3;
    border: 1px none;
    background-color:#393939;
    color:#ffffff;
    height:300px;
    padding:5px;
    width:140px;
    font-size:10px;
    line-height:135%;
    overflow:auto;
    color:#cccccc;
  }

  #tertiary a {
    swidth:100%;
    background-color:#393939;
    padding-left:0px;
    padding-right:5px;
    color:#ffffff;
    text-decoration:none;
  }

  #tertiary a.highlighted {
    color:#ff9900;;
  }
  
  #tertiary a:hover {
    color:#ff9900;;
    text-decoration:underline;
  }

  #tertiary ul {
    margin-top:5px;
    margin-bottom:5px;
    list-style:none;
    margin-left:0px;
    padding-left:5px;
  }

  #tertiary li {
    padding-bottom:8px;
    margin-left:0px;
  }
  
  #sidelinks {
    color:#000000;
    background-color:#993399;
    width:140px;
    font-size:10px;
  }

  #sidelinks p {
    margin-top:0px;
    margin-bottom:0px;
    line-height:160%;
  }
  
  #sidelinks ul {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-left:0px;
    color:#95b2c0;
    list-style:none;
  }
  
  #sidelinks li {
    padding-top:3px;
    padding-bottom:3px;
  }
  
  #sidelinksheading {
    border:1px none;
    width:140px;
    border-bottom: 1px solid #8E8E8E;
    border-right: 1px solid #8E8E8E;
    border-top: 1px solid #AEAEAE;
    border-left: 1px solid #AEAEAE;
    background-color:#9E9E9E;
    padding:5px;
    color:#ffffff;
    text-transform:uppercase;
    font-size:12px;
  }

  #sidelinksbody {
    background-color:#ffffff;
    border: 1px none;
    width:140px;
    font-size:10px;
    padding:5px;
  }

  #sidelinks a {
    text-decoration:none;
    color:#000000;
  }

  #sidelinks a:hover {
    text-decoration:underline;
  }
  
  #sidebarspacer {
    width:135px;
    display:none;
  }
  
  #pagebody {
    padding:20px;
    padding-right:20px;
    vertical-align:top;
    width:598px;
    background-color:#ffffff;
  }
  
  #pagebody td {
    padding-left:5px;
    padding-right:10px;
  }

  #pagebody th {
   padding-left:5px;
   padding-right:10px;
  }

  #rightpanel {
    padding:10px;
    border-left: 0px solid #0000c0;
    font-size:90%; 
    width:auto;
  }
  
  #rightpanel td {
    font-size:70%;
  }
  
  #rightpaddingbar {
    width:800px;
  }
    div.rightbox {
      background-color:#ffffff;
        border: 1px solid #AFAFAF;
        margin-left:0px;
        margin-bottom:10px;
        padding:10px;
        font-family: tahoma, verdana, arial;
        font-size:11px;
        width:auto;
      }
    
     div.rightbox a {
        text-decoration:underline;
      color:#666666;
      }
  
  #bottombar {
    padding:10px;
    font-size: 70%;
    color:#666666;
  }
  
  #bottombar a {
    text-decoration:none;
    color:#666666;
  }
  
  
  #bottombar a:hover  {
    text-decoration:underline;
  }
  
  #searchform {
    margin-top:0px;
    margin-bottom:10px;
  }
  
  #searchbox {
    font-size:10px;
    color:#ffffff;
  }
  
  #searchbox a {
    color:#ffffff;
    text-decoration:none;
  }
  
  #searchbox a:hover {
    text-decoration:underline;
  }
  
  #ionahomelogo {
  }
  
  #screenlogo {
    display:block;
  }
  
  #printerlogo {
    display:none;
  }

  div.rightbox {
    border: 1px solid #000000;
    margin-bottom:10px;
  }

  div.rightbox h3 {
    letter-spacing:0px;
    background-color:#666666;
    color:#ffffff;
    margin:0px;
    padding:5px;
    font-size:120%;
  }

  div.rightbox form, div.rightbox p, div.rightbox div {
    padding:5px;
    margin-top:0px;
    margin-bottom:5px;
  }  

  div.rightboxartix {
    border: 1px solid #c0c0c0;
    margin-bottom:10px;
  }

  div.rightboxartix h3 {
    letter-spacing:0px;
    background-color:#b5b57b;
    color:#ffffff;
    margin:0px;
    padding:5px;
    font-size:120%;
  }

  div.rightboxartix form, div.rightbox p, div.rightbox div {
    padding:5px;
    margin-top:0px;         
    margin-bottom:5px;  }  

  table.grid {
    border-bottom:1px solid #666666;
    width:100%;
  }

  table.grid td {
    padding:2px;
  }

  table.grid th {
    font-weight:bold;
  }
    
  table.grid thead th {
    font-weight:bold;
    background-color:#666666;
    padding:2px;
    color:#ffffff;
  }
  
  table.grid tr.grid1 {
    background-color:#ffffff;
  }
  
  table.grid tr.grid1 {
    background-color:#eeeeee;
  }
  
  b.required {
    color:red;
  }
  
  ul.errorlist {
    color:red;
  }
  
  ul.messagelist {
    color:blue;
  }
  