body {
  background-color:#ffffff;
}

#printerlogo {
  display:block;
  height:50px;
}
  
#screenlogo {
  display:none;
}
  
#sidebar {
  display:none;
}

#sidelinks {
  display:none;
}

#pagebody {
  width:100%;
  border-width:0px;
  padding:0px;
  font-size:11pt;
}

pre {
  font-size:10pt;
}

#searchbox {
  display:none;
}

#rightpanel {
  display:none;
}

#searchtable {
  width:auto;
}
  

#bottombar {
  padding-left:0px;
  text-align:center;
}

#navbar {
  width: 600px; 100%;
}

#navbar td {
  width:auto;
}

#subnavbarwrapper {
  width:600px;
}

#subnavbar.highlight {
  border-width:0px;
}

#navbar td {
  border-width:0px;
  font-size:90%;
}

td.navhighlight {
  font-weight:bold;
  font-size:110%;
}

#subnavbar {
  width:auto;
}

#subnavbar.highlight {
  font-size:90%;
}

#subnavbar a.selectedsub {
  font-weight:bold;
  font-size:110%;
}

#rightpaddingbar {
  display:none;
}
  
#searchbutton {
  display:none;
}