<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp">
	<display-name>myweb4</display-name>
		<servlet>
		<servlet-name>CSAssignServiceIdAndServerTIDProtocolServlet</servlet-name>
		<display-name>CSAssignServiceIdAndServerTIDProtocolServlet</display-name>
		<servlet-class>com.ibm.dse.cs.servlet.CSAssignServiceIdAndServerTIDProtocolServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CSNotifClToSrvProtocolServlet</servlet-name>
		<display-name>CSNotifClToSrvProtocolServlet</display-name>
		<servlet-class>com.ibm.dse.cs.servlet.CSNotifClToSrvProtocolServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CSNotifSrvToClProtocolServlet</servlet-name>
		<display-name>CSNotifSrvToClProtocolServlet</display-name>
		<servlet-class>com.ibm.dse.cs.servlet.CSNotifSrvToClProtocolServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CSReqProtocolServlet</servlet-name>
		<display-name>CSReqProtocolServlet</display-name>
		<servlet-class>com.ibm.dse.cs.servlet.CSReqProtocolServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StartServerServlet</servlet-name>
		<display-name>StartServerServlet</display-name>
		<servlet-class>composer.appl.StartServerServlet</servlet-class>
		<init-param>
			<param-name>dseIniPath</param-name>
			<param-value>http://localhost/myweb4/dse/server/dse.ini</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>StartHtmlServerServlet</servlet-name>
		<display-name>StartHtmlServerServlet</display-name>
		<servlet-class>composer.html.StartHtmlServerServlet</servlet-class>
		<init-param>
			<param-name>dseIniPath</param-name>
			<param-value>http://localhost/myweb4/dse/server/dse.ini</param-value>
		</init-param>
		<init-param>
			<param-name>initStart</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>CSReqServlet</servlet-name>
		<display-name>CSReqServlet</display-name>
		<servlet-class>com.ibm.dse.cs.servlet.CSReqServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CSEstablishSessionServlet</servlet-name>
		<display-name>CSEstablishSessionServlet</display-name>
		<servlet-class>com.ibm.dse.cs.servlet.CSEstablishSessionServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SnoopServlet</servlet-name>
		<display-name>SnoopServlet</display-name>
		<servlet-class>SnoopServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DBServlet</servlet-name>
		<display-name>DBServlet</display-name>
		<servlet-class>DBServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CSAssignServiceIdAndServerTIDProtocolServlet</servlet-name>
		<url-pattern>/servlet/com.ibm.dse.cs.servlet.CSAssignServiceIdAndServerTIDProtocolServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CSNotifClToSrvProtocolServlet</servlet-name>
		<url-pattern>/servlet/com.ibm.dse.cs.servlet.CSNotifClToSrvProtocolServlet&quot;</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CSNotifSrvToClProtocolServlet</servlet-name>
		<url-pattern>/servlet/com.ibm.dse.cs.servlet.CSNotifSrvToClProtocolServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CSReqProtocolServlet</servlet-name>
		<url-pattern>/servlet/com.ibm.dse.cs.servlet.CSReqProtocolServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StartServerServlet</servlet-name>
		<url-pattern>/StartServerServlet</url-pattern>		
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>StartHtmlServerServlet</servlet-name>
		<url-pattern>/StartHtmlServer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CSReqServlet</servlet-name>
		<url-pattern>/Request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CSEstablishSessionServlet</servlet-name>
		<url-pattern>/EstablishSession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SnoopServlet</servlet-name>
		<url-pattern>/snoopservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DBServlet</servlet-name>
		<url-pattern>/servlet/DBServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Test constaint</web-resource-name>
			<description></description>
			<url-pattern>/test/*</url-pattern>
			<http-method>
			GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>oded</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-role>
		<description></description>
		<role-name>oded</role-name>
	</security-role>
</web-app>
