<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp">
	<display-name>MatafServer</display-name>
	<servlet>
		<servlet-name>StartServerServlet</servlet-name>
		<display-name>StartServerServlet</display-name>
		<servlet-class>mataf.dse.appl.StartServerServlet</servlet-class>
		<init-param>
			<param-name>dseIniPath</param-name>
			<param-value>http://127.0.0.1:9080/MatafServer/dse/server/dse.ini</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>CSAssignServiceIdAndServerTIDProtocolServlet</servlet-name>
		<display-name>CSAssignServiceIdAndServerTIDProtocolServlet</display-name>
		<servlet-class>com.ibm.dse.cs.servlet.CSAssignServiceIdAndServerTIDProtocolServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CSNotifClToSrvProtocolServlet</servlet-name>
		<display-name>CSNotifClToSrvProtocolServlet</display-name>
		<servlet-class>com.ibm.dse.cs.servlet.CSNotifClToSrvProtocolServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CSNotifSrvToClProtocolServlet</servlet-name>
		<display-name>CSNotifSrvToClProtocolServlet</display-name>
		<servlet-class>com.ibm.dse.cs.servlet.CSNotifSrvToClProtocolServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CSReqProtocolServlet</servlet-name>
		<display-name>CSReqProtocolServlet</display-name>
		<servlet-class>com.ibm.dse.cs.servlet.CSReqProtocolServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServerMonitorServletLow</servlet-name>
		<display-name>ServerMonitorServletLow</display-name>
		<servlet-class>com.ibm.dse.tools.servermonitor.ServerMonitorServletLow</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServerMonitorServletHigh</servlet-name>
		<display-name>ServerMonitorServletHigh</display-name>
		<servlet-class>com.ibm.dse.tools.servermonitor.ServerMonitorServletHigh</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartServerServlet</servlet-name>
		<url-pattern>/StartServerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServerMonitorServletLow</servlet-name>
		<url-pattern>/servlet/com.ibm.dse.tools.servermonitor.ServerMonitorServletLow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServerMonitorServletHigh</servlet-name>
		<url-pattern>/servlet/com.ibm.dse.tools.servermonitor.ServerMonitorServletHigh</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
