vti_encoding:SR|utf8-nl
http\://www.primenet.com/~grieggs/cg_faq.html:bookmark.htm
http\://library.advanced.org/11742/home2.htm:lnk.html
http\://www.atvantage.com/usrbin/atvantage:bookmark.htm
http\://www.altavista.digital.com/:bookmark.htm
/cgi-bin/counter:index.html
http\://198.105.232.6\:80/support/:bookmark.htm
http\://www.wired.com/news/:bookmark.htm
http\://www.internetsourcebook.com/:bookmark.htm
http\://www.surfree.co.il/:bookmark.htm
http\://rampal.cs.colostate.edu\:2000:lnk.html
http\://gauss.technion.il\:80/~nyh/israel/yellowpages.html:lnk.html
http\://www.hebhtml.co.il/hebhtml/agents/jindex:lnk.html
http\://okjunc.junction.net/~ian/ftp/pdn.html:bookmark.htm
http\://www.trcone.com/tsa.html:bookmark.htm
http\://www.aul.fiu.edu/cpp/cpp_faq.htm:bookmark.htm
http\://software.org/:bookmark.htm
http\://www.egroups.com/www:bookmark.htm
http\://hotbot.com/index.html:lnk.html
http\://www.rsa.com/:bookmark.htm
http\://www.javasoft.com/products/ejb/index.html:bookmark.htm
http\://www.datafellows.com/:bookmark.htm
http\://www2.iol.co.il/captain:lnk.html
http\://www.excite.com:lnk.html
http\://www.yellow.com:lnk.html
http\://www.iname.com:lnk.html
http\://www.cis.ohio-state.edu/hypertext/faq/usenet/linux/howto/net-2-howto/faq.html:bookmark.htm
http\://www.geocities.com/siliconvalley/lakes/9970/hebrew.html:lnk.html
http\://www.servletcentral.com/:bookmark.htm
http\://www.javacats.com/us/articles/:bookmark.htm
http\://www.first.org/:bookmark.htm
http\://home.netscape.com/home/internet-search.html:bookmark.htm
http\://www.netlib.org/c++/idioms/index.html:bookmark.htm
http\://www.javaworld.com/:bookmark.htm
http\://geocities.yahoo.com:download.html lnk.html contact.html
http\://sw-eng.falls-church.va.us/reuseic/primer.htm:bookmark.htm
http\://www.walla.co.il:lnk.html
http\://www.ibm.com/java/:bookmark.htm
http\://www.walla.co.il/:bookmark.htm
http\://www.austinlinks.com/cplusplus/:lnk.html
http\://www.altavista.digital.com:lnk.html
http\://www.cs.wustl.edu/~schmidt/corba.html:bookmark.htm
http\://www.usyd.edu.au/~davidca/computer.html:bookmark.htm
http\://www.secapl.com/cgi-bin/qs:bookmark.htm
http\://www.ddj.com/:bookmark.htm
http\://www.chesworth.com/pv/vault/800x600.htm:bookmark.htm
ftp\://gatekeeper.dec.com/pub/micro/msdos/win3/:bookmark.htm
http\://www.cs.clemson.edu/~nandu/langutils.html:bookmark.htm
http\://artos.larc.nasa.gov/se/html/organizations.html:bookmark.htm
http\://www.mind.net/jfs/devres.html:bookmark.htm
http\://www.javadomain.com/:bookmark.htm
http\://www.ar.com/ger/sci.crypt.html:bookmark.htm
http\://cruciform.cid.com/~werdna/phrack/:bookmark.htm
http\://jumper.mcc.ac.uk/~fauzanm/idea2.html:bookmark.htm
http\://www.vim.org:lnk.html
http\://www.progsource.com/:lnk.html
http\://www.cyberport.com/~tangent/programming/winsock/:bookmark.htm
mailto\:odedns@geocities.com:contact.html
http\://www.aol.com/netfind/:bookmark.htm
http\://www.techweb.com/encyclopedia/:bookmark.htm
http\://gauss.technion.il\:80/~nyh/israel/hindex.html:lnk.html
http\://www.sivuv.co.il:lnk.html
http\://info.desy.de/gna/html/cc/text/index.html:bookmark.htm
http\://www.securingjava.com/:bookmark.htm
http\://www.lycos.com:lnk.html
http\://www.jwp.bc.ca/saulm/html/:lnk.html
http\://www.platinum.com/corp/uml/uml.htm:bookmark.htm
http\://www.tribal.com:lnk.html
http\://home.netscape.com/bookmark/40/excite.html:bookmark.htm
http\://home.netscape.com/bookmark/40/lycos.html:bookmark.htm
http\://www.rns.com/nikos/nikos.html:lnk.html
http\://www.numega.com/:bookmark.htm
http\://www.oracle.com/:bookmark.htm
http\://www.ddj.com/ddj/issues/j506a.htm:bookmark.htm
http\://www.goldenpc.co.il/:bookmark.htm
http\://www.diamondmm.com/products/drivers/driver-index.html:bookmark.htm
http\://www.opentext.com:lnk.html
http\://www.sunworld.com/:bookmark.htm
http\://www.netforward.com:lnk.html
http\://akebono.stanford.edu/yahoo/science/mathematics/security_and_encryption:bookmark.htm
http\://www.mckinley.com/:bookmark.htm
http\://www.city.net:lnk.html
http\://www.infoseek.com:lnk.html
http\://world.std.com/~franl/crypto/:bookmark.htm
http\://www.microsoft.com/:bookmark.htm
http\://www.developer.com/directories/cmpjava/:bookmark.htm
http\://www.sockets.com/:lnk.html
http\://vipe.technion.ac.il/apache/:bookmark.htm
http\://www3.zdnet.com/yil/:lnk.html
http\://www.nova.edu/inter-links/cgi-bin/unixhelp_search:bookmark.htm
http\://www.nova.edu/inter-links/unixhelp/top_.html:bookmark.htm
http\://www.internals.com/:bookmark.htm lnk.html
http\://home.netscape.com/bookmark/40/infoseek.html:bookmark.htm
http\://www.usa.net/~pitsco/pitsco/multimedia.html:bookmark.htm
http\://www.objenv.com/cetus/oo_patterns.html:bookmark.htm
http\://www.c2.org/~mark/privtool/privtool.html:bookmark.htm
http\://www3.zdnet.com:lnk.html
http\://www.netscapeworld.com:bookmark.htm
http\://uml.shl.com/:bookmark.htm
http\://www.midifitz.com/alstevens/:bookmark.htm
http\://www.wcmh.com/uworld:lnk.html
http\://www.builder.com/:bookmark.htm
http\://www.javasoft.com/:bookmark.htm lnk.html
http\://www.alw.nih.gov/security/prog-full.html:bookmark.htm
http\://www.hks.net/cpunks/cpunks-2/0377.html:bookmark.htm
http\://www.gartner.com/cgi-bin/gghome:bookmark.htm
http\://sunsite.unc.edu/pub/linux/welcome.html:bookmark.htm
http\://ciumix.ci.uminho.pt/mirrors/gnu/:bookmark.htm
http\://www.browsebooks.com/bbc/murray/tofc.html:bookmark.htm
http\://sunsite.unc.edu/mdw/linux.html:bookmark.htm
http\://www.fv.com\:80/ccdanger/:bookmark.htm
http\://www.gamelan.com/:bookmark.htm
http\://www.nexor.com/public/rfc/index/rfc.html:bookmark.htm
http\://sunsite.unc.edu/mdw/howto/ethernet-howto.html:bookmark.htm
http\://www.ondemand.com/:bookmark.htm
http\://www.cs.virginia.edu/~lcc-win32/index.html:bookmark.htm
http\://www.programmersheaven.com/:bookmark.htm lnk.html
http\://www.webcom.com/~llarrow/wsapps.html:bookmark.htm
http\://www.epix.net/~markga/metafile.html:bookmark.htm
http\://www.reshet.co.il/data/index.htm:bookmark.htm
http\://www.dejanews.com/:bookmark.htm
http\://www.netforward.com/:bookmark.htm
http\://www.ar.com/ger/comp.lang.c++.html:bookmark.htm
ftp\://gatekeeper.dec.com/pub/micro/msdos/win3/desktop/:bookmark.htm
http\://www.isworld.org/isworld.html:bookmark.htm
http\://www.wired.com:lnk.html
http\://www.vyp.com:lnk.html
http\://listtool.com/:bookmark.htm
http\://www.modemhelp.com/:bookmark.htm
http\://www.acs.oakland.edu/oak/simtel/simtel-win3.html:bookmark.htm
http\://www.northernlight.com/:bookmark.htm
http\://www.programmer.com/:bookmark.htm
http\://dapey.reshet.co.il:lnk.html
http\://www.delorie.com:lnk.html
http\://www.cryptix.org/:bookmark.htm
http\://www.javascriptsource.com/:bookmark.htm
http\://www.internz.com/compression-pointers.html:bookmark.htm
http\://www.fc.net/phrack/other.html:bookmark.htm
http\://www.netking.com:lnk.html
http\://www.omg.org/:bookmark.htm
http\://www.mfi.com/msj/:bookmark.htm
http\://www.pcmag.com:bookmark.htm
http\://www.vtyh.fi/pempgp.html:bookmark.htm
http\://www.inter.net.il/:bookmark.htm
http\://www.strangecreations.com/library/:lnk.html
http\://www.snippets.org/:bookmark.htm lnk.html
http\://www.hotmail.com:lnk.html
http\://www.ifi.uio.no/~staalesc/pgp/links.html:bookmark.htm
http\://www.vim.org/:bookmark.htm
http\://www-db.stanford.edu/~ullman/ullman-books.html:bookmark.htm
http\://www.directory.net:lnk.html
http\://www.w3.org:lnk.html
http\://weblogic.beasys.com/index.htm:bookmark.htm
http\://198.105.232.5\:80/devnews/:bookmark.htm
http\://gee.cs.oswego.edu/dl/:bookmark.htm
http\://harvest.cs.colorado.edu/harvest/demobrokers.html:lnk.html
http\://uiarchive.cso.uiuc.edu/:bookmark.htm
http\://www.davecentral.com/index.html:bookmark.htm
http\://www.lcs.com/winpgp.html:bookmark.htm
http\://198.105.232.5\:80/devonly/devonly.htm:bookmark.htm
http\://www.faqs.org/rfcs/:bookmark.htm
http\://www.jrunmag.com/:bookmark.htm
http\://www.tapuz.co.il:lnk.html
http\://webimages.com/win95/index.html:lnk.html
http\://www.real.com/:bookmark.htm
http\://www.swtech.com/:bookmark.htm
http\://www.apache-micro.com/:bookmark.htm
http\://www.bonzi.com/netscape/voicenet.htm:bookmark.htm
http\://oak.oakland.edu/simtel.net/:bookmark.htm
http\://www.freeware.com/:bookmark.htm
http\://www.byte.com:lnk.html
http\://dcs.ex.ac.uk/~aba/rsa-perl.html:bookmark.htm
http\://www.microsoft.com/vbasic/:bookmark.htm
http\://www.gnu.org/:bookmark.htm
http\://www.geocities.com:index.html
http\://www.byte.com/:bookmark.htm
http\://www.yahoo.com:bookmark.htm lnk.html
ftp\://ftp.csn.net/mpj/i_will_not_export/crypto_oc477tr/:bookmark.htm
http\://www.ddj.com:lnk.html
http\://members.aol.com/freeyou/index.html:bookmark.htm
http\://www.cs.clemson.edu/~nandu/interesting.papers.html:bookmark.htm
http\://www.digitalcentury.com/index.html:bookmark.htm
http\://www.desy.de/user/projects/c++.html:bookmark.htm
http\://www.looksmart.com/:bookmark.htm
http\://www.geocities.com/siliconvalley/heights/9069/:lnk.html
http\://www.faqs.org/:bookmark.htm
http\://www.powerlink.com:lnk.html
http\://www.webcrawler.com:lnk.html
http\://www.aul.fiu.edu/tech/visualc.html:bookmark.htm lnk.html
http\://web.mit.edu/network/pgp.html:bookmark.htm
http\://www.oasis-open.org/cover/:bookmark.htm
http\://www.toshiba.com:bookmark.htm
http\://www.digitalcentury.com/encyclo/update/comp_hd.html:bookmark.htm
http\://www.hotbot.com:bookmark.htm
http\://www.tapuz.co.il/:bookmark.htm
http\://www.pluma.com/cause/index.html:bookmark.htm
http\://www.penton.com/cae/:bookmark.htm
http\://www.geocities.com/:bookmark.htm
http\://www.intbc.com/comcom/cc1.html:bookmark.htm
http\://www.gamelan.com:bookmark.htm
http\://netaccess.on.ca/~rbarclay/wheretoget.txt:bookmark.htm
http\://freesoft.org/cie/index.htm:bookmark.htm
http\://www.cygnus.com/misc/gnu-win32:lnk.html
http\://www.delorie.com/djgpp/:bookmark.htm
http\://www.techweb.com/:bookmark.htm
http\://www.apache.org/:bookmark.htm
http\://www.ensta.fr/internet/:bookmark.htm
http\://tucows.netvision.net.il/:bookmark.htm
http\://draco.centerline.com\:8080/~franl/pgp/utilities.html:bookmark.htm
