vti_encoding:SR|utf8-nl
http\://www.geocities.com/capitolhill/6591:john.html
mailto\:yossit@amdocs.com:vz.html
http\://www.ariga.com/bibiwatch/core.htm:john.html
mailto\:nirl@ecitele.com:vz.html
mailto\:dagan@tsk.co.il:vz.html
mailto\:odedns@geocities.com:vz.html
http\://www.reshet.com/atar/netnyahu:john.html
