PkgPrefix.common=hoshen.xsm.lightsoft.corba
PkgPrefix.CosEventChannelAdmin=hoshen.xsm.lightsoft.corba
PkgPrefix.CosEventComm=hoshen.xsm.lightsoft.corba
PkgPrefix.CosNaming=hoshen.xsm.lightsoft.corba
PkgPrefix.CosNotification=hoshen.xsm.lightsoft.corba
PkgPrefix.CosNotifyChannelAdmin=hoshen.xsm.lightsoft.corba
PkgPrefix.CosNotifyComm=hoshen.xsm.lightsoft.corba
PkgPrefix.CosNotifyFilter=hoshen.xsm.lightsoft.corba
PkgPrefix.CosTrading=hoshen.xsm.lightsoft.corba
PkgPrefix.emsMgr=hoshen.xsm.lightsoft.corba
PkgPrefix.emsSession=hoshen.xsm.lightsoft.corba
PkgPrefix.emsSessionFactory=hoshen.xsm.lightsoft.corba
PkgPrefix.equipment=hoshen.xsm.lightsoft.corba
PkgPrefix.globaldefs=hoshen.xsm.lightsoft.corba
PkgPrefix.guiCutThrough=hoshen.xsm.lightsoft.corba
PkgPrefix.maintenanceOps=hoshen.xsm.lightsoft.corba
PkgPrefix.managedElement=hoshen.xsm.lightsoft.corba
PkgPrefix.managedElementManager=hoshen.xsm.lightsoft.corba
PkgPrefix.mtnmVersion=hoshen.xsm.lightsoft.corba
PkgPrefix.multiLayerSubnetwork=hoshen.xsm.lightsoft.corba
PkgPrefix.nmsSession=hoshen.xsm.lightsoft.corba
PkgPrefix.notifications=hoshen.xsm.lightsoft.corba
PkgPrefix.CORBA=hoshen.xsm.lightsoft.corba
PkgPrefix.performance=hoshen.xsm.lightsoft.corba
PkgPrefix.protection=hoshen.xsm.lightsoft.corba
PkgPrefix.session=hoshen.xsm.lightsoft.corba
PkgPrefix.subnetworkConnection=hoshen.xsm.lightsoft.corba
PkgPrefix.terminationPoint=hoshen.xsm.lightsoft.corba
PkgPrefix.topologicalLink=hoshen.xsm.lightsoft.corba
PkgPrefix.transmissionParameters=hoshen.xsm.lightsoft.corba

